
@import 'colors';

article.home
{
    img#project-logo
    {
        margin: 3.6rem auto 0 auto;
        display: block;
        width: 10%;
    }

    h1
    {
        text-align: center;
        font-size: 4rem;
        margin-top: 0;
        margin-bottom: 0;
    }

    section
    {
        margin: 1.8rem 0;
    }

    ul
    {
        list-style-type: "» ";
        padding-left: 1ch;

        li
        {
            margin-bottom: 1.2rem;
        }
    }

    #claim
    {
        text-align: center;
        font-size: 1.5rem;
    }

    #summary
    {
        text-align: center;
        font-size: 1.2rem;
    }

    img#values-tree
    {
        max-width: 40%;
        margin: 0 auto 1.2rem auto;
        display: block;

        @media (max-width: 800px)
        {
            max-width: 60%;
        }

        @media (max-width: 400px)
        {
            max-width: 80%;
        }
    }
}

article#how-it-works
{
    section
    {
        margin-top: 1.5rem;
        display: grid;

        grid-template-columns: 1fr 1fr;
        @media (max-width: 700px)
        {
            grid-template-columns: 1fr;
        }

        .concept
        {
            padding: 0.5rem 1.5rem;
            align-self: center;
        }

        .concept-text
        {
            h3
            {
                margin-top: 0;
            }
        }

        .concept-image
        {
            img
            {
                max-width: 100%;
            }
        }
    }
}

.two-part-example
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1.2rem;
    grid-row-gap: 1.2rem;

    @media (max-width: 1300px)
    {
        grid-template-columns: 1fr;
    }

    span.caption
    {
        font: 0.9rem monospace;
        color: #999999;
        position: absolute;
        bottom: 1rem;
        right: 1rem;
    }

    div.code
    {
        overflow-x: auto;
        position: relative;
        display: flex;
        flex-direction: column;
        flex: 1;
        font: 1rem monospace;
        color: $secondary-color;
        border-radius: 5px;
        padding: 1rem 1.5rem;
        background-color: #F2F2F2;
        white-space: pre;
    }
}

.three-part-example
{
    display: flex;

    img
    {
        object-fit: contain;
        min-width: 10%;
    }

    img.arrow
    {
        flex-shrink: 1.8;
    }

    img.arrow-right
    {
        display: inline;
        max-width: 12vw;
    }

    img.arrow-down
    {
        display: none;
        max-height: 11vh;
    }

    @media (max-width: 400px)
    {
        flex-direction: column;

        img.arrow
        {
            flex-shrink: 8;
        }

        img.arrow-right
        {
            display: none;
        }

        img.arrow-down
        {
            display: inline;
        }

    }
}

.reference-page
{
    h2
    {
        margin: 1.8rem 0 0.6rem 0;
    }

    p
    {
        margin-top: 0;
    }

    table
    {
        margin-bottom: 1.2em;
    }

    td
    {
        font: 0.9rem monospace;
        white-space: nowrap;
    }
}

footer.spkt
{
    display: flex;
    flex-direction: column;

    #copyright
    {
        margin: 0.8rem;
    }

    #extra-info
    {
        display: flex;
        justify-content: center;

        div
        {
            padding: 0.2em;
        }

        #info-separator
        {
            color: #BBBBBB;
            margin: 0 0.5em;
        }

        @media (max-width: 800px)
        {
            flex-direction: column;

            #info-separator
            {
                display: none;
            }
        }
    }
}
